.flex-container {
  display: flex;
  align-items: center;
}

.thumbnail {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-right: 16px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: cadetblue;
}